.app-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*поиск*/
.top-ui{
    position: absolute;
    top: 40px;
    left: 15%;
    z-index: 10;
}

.search-container{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.12);
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 10px 16px;
    width: 280px;
    backdrop-filter: blur(12px);
    transition: "background 0.2s, box-shadow 0.2s";
}

.search-icon{
    width: 15px;
    height: 15px;
    opacity: 0.4;
}

.search-input{
    background: none;
    border: none;
    outline: none;
    color: white;
    background: transparent;
    font-size: 15px;
    width: 100%;
}

