* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

/* react */
.app-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: transparent;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.app-container > *{
  pointer-events: auto;
}
